{% extends '_base.html' %}
{% block content %}
<table>
  <tr>
    <th>Created</th>
    <th>Title</th>
    <th>Priority</th>
    <th>Assignee</th>
    <th>Status</th>
  </tr>
  {% for bug in bug_list %}
  <tr>
    <td>{{ bug.created|date:'m-d-y' }}</td>
    <td><a href="{% url 'bug_detail' bug.pk %}">{{ bug.title }}</a></td>
    <td>{{ bug.priority|capfirst }}</td>
    <td>{{ bug.assignee|capfirst }}</td>
    <td>{{ bug.status|capfirst }}</td>
  </tr>
  {% empty %}
    <tr><td>No bugs in the database.</td></tr>
  {% endfor %}
  </table>
{% endblock content %}
